<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/log_style.css' %}">
    <title>Log in</title>
</head>
<body>
   <div class="topbar">
      <a class="active" href="/main/">Main</a>
      <a href="#contact">Contact</a>
      <a href="/register/">Register</a>
      <input placeholder="search" style="margin-top: 14px;">
      <button style="margin-top: 14px;">Search</button>
   </div>
   <center>
      <div class="form">
          <form  action="." method="POST" name="f1">
              {% csrf_token %}
              <div class="username" contentEditable=true data-text="Username">
                <p>Username</p>{{ form.username }}
              </div>
              <div class="pass-input">
                  <p>Password</p>{{ form.password }}
              </div>
              <button class="btn" type="submit" name="Log in">Log in</button>
          </form>
      </div>
    </center>

</body>
</html>