body{
  background: url("/static/images/wall.jpg") 50% 0 no-repeat fixed;

}
* {
    margin: 0;
    padding: 0;
}
.topbar {
  margin-left: 16px;
  margin-right: 16px;
  background-color: #333;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0.8;
}

/* Style the links inside the navigation bar */
.topbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topbar a:hover {
  background-color: #fc0303;
  color: white;
}
.form{
  background: #dae6f5;
  width: 300px;
  height: 250px;
  opacity: 0.8;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);

}
.input{
   margin-top:0px;
   margin-left: 6px;
   border-radius: 4px;
   padding: 6px;
   border: 3;
   opacity: 0.7;
   color: black;
}
.btn{
  margin-top: 16px;
  border-radius: 4px;
  border: 0;
  padding: 2px;
  background: #0a1b7d;
  color: white;
  cursor: pointer;
}
.btn:hover{
  border: 1px;
  padding: 4px;
  background: blue;
  transform: scale(1.1);
}
